# Node
node_modules/
npm-debug.log

# Config / credentials
config/local.json
config/app.json
.env

# Runtime
logs/*
!logs/.gitkeep
state/*
!state/.gitkeep

# OS/Mac/Linux/editor
.vscode/
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
